{% extends "base.html" %}

{% block content %}
	
	{% for p in posts %}
	<div>
	<h2>{{p.subject}} </h2>
	<p>Posted By: {{p.author.username}}</p>
	<p>Posted on: {{p.created.strftime("%b, %d, %Y")}}</p>

	<p>{{p.content | safe}}</p>
	<p>{{p.comment}}</p>
	<a href="/comment/new/{{p.key.id()}}">Comment</a>
	|
	{% if p.author.username == user.username%}

		<a href="/blog/edit?post={{p.key.id()}}">Edit</a>
		|

		<a href="/blog/delete?post={{p.key.id()}}">Delete</a>
	{% endif %}	
	</div>	
	<hr>
		<br><br>
	{% endfor %}
{% endblock %}	